/* Universal Styling */

html {
  font-size: 16px;
  font-family: "Georgia", serif;
}

body {
  line-height: 1;
}

/* Header */

.mobile-nav {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.desktop-nav nav {
  display: flex;
  align-items: center;
  padding-right: 1.5rem
  /*flex-direction: row;*/
}

.desktop-nav nav ul {
  display: flex;
}

.desktop-nav nav ul li {
  padding-left: 1rem;
}

ul {
  list-style: none;
}
/* Banner */


/* Articles */


/* Majors */


/* Thesis */


/* Footer */
