/* Universal Styling */

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  line-height: 1;
}

 h2 {
  font-size: 2.75rem;
  font-weight: 900;
  color: #a52a2a;
}

a {
  color: #a52a2a;
}

a:hover {
  color: #ff7f50;
}

.description h4 {
  font-size: 2rem;
  font-weight: bold;
  color: #696969;
}

.description span {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  padding: 0.5rem 0;
}

.description p {
  font-family: "Arvo", serif;
  font-weight: 400;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.3;
}

/* Header */

.mobile-nav {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo .title {
  font-size: 1.25rem;
  font-weight: 400;
}

.logo .title a {
  padding-left: 0.25rem;
  letter-spacing: 0.125rem;
}

.logo .title .academy {
  color: #a52a2a;
  margin-left: 0.75;
}

.desktop-nav nav {
  display: flex;
  align-items: center;
  padding-right: 1.5rem
  /*flex-direction: row;*/
}

.desktop-nav nav ul {
  display: flex;
}

.desktop-nav nav ul li {
  padding-left: 1rem;
}

ul {
  list-style: none;
}

@media only screen and (max-width: 760px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    width: 100%;
  }

  .mobile-nav nav {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .mobile-nav nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
}
/* Banner */

banner {
  display: flex;
  width: 100%;
  background-color: #696969;
}

.banner-image {
  width: 60%;
  padding: 1.5rem 0 1.5rem 2rem;
}

.banner-image img {
  display: flex;
  width: 100%;
  height: 100%;
  box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

banner .feature {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 2.5rem;
}

.feature .headline {
  line-height: 1.1;
}

.feature .headline h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 0.9;
  color: #fff8dc;
}

.feature .headline h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #deb887;
  padding-top: 1.25rem;
}

.feature .start {
  width: 9rem;
  background-color: #a52a2a;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.4);
}

.feature .start a {
  color: #fff8dc;
  font-weight: 500;
  font-size: 1.25rem;
}

@media only screen and (max-width: 760px) {
  banner {
    flex-wrap: wrap;
  }

  .banner-image {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .banner-image img {
    border-radius: 0px;
    box-shadow: 0 0 0;
  }

  banner .feature {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

.feature .headline {
  width: 90%;
  align-items: center;
}

  .feature .headline h1 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 0.9;
    color: #fff8dc;
    padding: 2rem 0;
  }

  .feature .headline h3 {
    font-size: 1.75rem;
    font-weight: 500;
    color: #deb887;
    padding: 0;
  }

  .feature .start {
    width: 90%;
    align-items: center;
    margin: 1.5rem 0 2rem 0;
  }

  .feature .start a {
    color: #fff8dc;
    font-weight: 500;
    font-size: 1.25rem;
  }
}

/* Articles */

.articles {
  display: flex;
  width: 100%;
  background-color: #fff;
}

.articles .main {
  width: 60%;
  margin: 1rem 2rem;
  padding-bottom: 2rem;
}

.articles .main img {
  width: 100%;
  margin-top: 1rem;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.main-article {
  padding-right: 2rem;
}

.main-article h2 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.main-article p {
  padding: 0 0 1rem 0;
  line-height: 1.3;
}

.main-article span {
  font-family: "Dosis", sans-serif;
  font-size: 0.95rem;
  color: #5d5d5d;
}

.list.container {
  width: 40%;
  border-left: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.article-list .article {
  display: flex;
  width: 100%;
}

.article-list .article.one {
  border-bottom: 1px solid lightgrey;
}

.article-images {
  padding: 1rem;
  width: 35%;
}

.article-images img {
  width: 100%;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
  border-radius: 7px;
}

.article-images .mobile {
  display: none;
}

.article-list .article .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1;
  width: 65%;
  padding-left: 0.6rem;
}

.article.highlighted {
  background-color: #deb887;
}

@media only screen and (max-width: 760px) {
.main.container {
  display: none;
}

.list.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-top: 0;
  border: none;
}

.article-list {
  margin: 1rem;
}

.article-list .article.one {
  border-bottom: none;
}

.article-list .article {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.article-images {
  width: 100%;
  padding: 1rem 0;
}

.article-images .desktop {
  display: none;
}

.article-images .mobile {
  display: block;
}

.article.highlighted {
  background-color: #fff;
}

}

/* Majors */

.majors.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #696969;
}

.majors.container h2 {
  color: #fff8dc;
  padding: 2rem 0;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
}

.mobile-courses {
  display: none;
}

.course {
  width: 25%;
  margin: 1rem;
  background-color: #fff;
  border-radius: 10px;
}

.course img {
  width: 100%;
}

.course .description {
  padding: 1rem 0 1.5rem 1rem;
}

.course .description h4 {
  padding-bottom: 0.5rem;
}

.course .description p {
  width: 90%;
  line-height: 1.2;
}

@media only screen and (max-width: 760px) {
  .majors.container {
padding-bottom: 2rem;
 }

  .courses {
    display: none;
  }

.mobile-courses {
  display: block;
  width: 90%;
}

.mobile-course {
  margin-bottom: 0.5rem;
  text-align: center;
}

.mobile-course h4 {
  font-size: 1.25rem;
  color: #deb877;
  background-color: #a52a2a;
  padding: 1rem 0 1rem 1.5rem;
  transition: color 350ms ease-in-out 100ms;
}

.mobile-course h4:hover {
  color: #a52a52;
  background-color: #deb877;
}

}

/* Thesis */

.thesis.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thesis h2 {
  padding: 2rem 0;
}

.exhibit {
  display: flex;
  width: 100%;
  background-color: #fff;
}

.exhibit .video {
  width: 60%;
  margin: 0 1rem 1rem 1.5rem;
}

.video video {
  width: 100%;
}

.exhibit .thesis-list {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.thesis-article {
  display: flex;
  width: 100%;
}

.thesis-article.highlighted {
  background-color: #deb887;
}

.thesis-image {
  width: 35%;
  padding: 1rem;
}

.thesis-image img {
  width: 100%;
  border-radius: 7px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
}

.thesis-article .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thesis-article .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4;
  width: 65%;
  padding-left: 0.6rem;
}

@media only screen and (max-width: 760px) {


/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
  font-size: 0.75rem;
  font-family: "Dosis", sans-serif;
  color: #5d5d5d;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
}

.footer-menu {
  display: flex;
}

.footer-menu a {
  padding-left: 0.5rem;
}
